@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin:0

}
body{
   
}

.home{
    width:100%;
    height:120vh;
    background-color: lightcyan;
    background: linear-gradient(to right,black,transparent),linear-gradient(to bottom ,black,transparent), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRw0wwP5mVXxDtlVjEbEgWmjWHlK0TPVIH3fr0vjpFmH9aE6dqTtNjNcvaYCm3OgdJzv_0&usqp=CAU) ;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px)

}
.top_section{
    height:70px;
    width:100%;
    background-color: none;
    display:flex;
    align-items: center;
    justify-content: space-between;

    img{
        height:210%;
    
    }
    svg{
        position: relative;
        left:30px;
        color:whitesmoke
    }

    .top_right{
        position:relative;
         right:200px; 
        select{
            width:140px;
            height:40px;
            background: none;
            border-radius: 7px;
            color: white;
            text-align: center;
        
        
        
        
        
        
        
        option{
            color:black;
            background:transparent;

        }
       
        

    }
    
    
    a{
        width: 140px;
        height:40px;
        margin-left:200px;
        margin-top:-40px;
        margin-right:-190px;

        background-color: red;
        color:#ffff;
        border:none;
        border-radius: 7px;
        font-weight: 900;
        font-size:medium;
        display:flex;
        
        
        text-align:center;
        justify-content: center;
        align-items: center;


    }
}
}
.mid_section{
    height:60vh;
    width:100%;
    background-color: none;
    color:whitesmoke;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    

    .first{
        font-size: 3.5rem;
        font-weight: 700;
        margin:0
    }
    .second{
        font-size:3.5rem;
        font-weight: 600;
        margin: 5px 0 0;
    }
    h2{
    font-size:large;
    font-weight: 400;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    display:flex;
   
    }
    .line1{
        padding:10px;
        margin:3px;

    }
    input[type="email"]{
        height:45px;
        width: 320px;
        margin-left: -250px;
        background-color: rgba(183, 173, 173, 0.262);
        padding-block: 1px;
        padding-inline: 2px;
        margin-top: 20px;
        border:1px solid black
    }
    input[type="email"]::placeholder{
        /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color:whitesmoke;
        font-weight: 400;
        margin-left: 100px;
        font-size:medium;
    
    }
    button{
        height:49px;
        width:170px;
        margin-left:300px;
        margin-top:-49px;
        font-size: medium;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: red;
        color:white;
        border-radius:3%;
    }
}
.sign-in{
    height:100vh;
    width:100%;
    color:white;
    background: linear-gradient(to left, black,transparent), linear-gradient(to right,black,transparent), url(Sign-in.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction:column;
    gap:2px;
    align-items: center;
    justify-content: center; 
    position: absolute;
    
    legend{
        margin-left: -200px;
        margin-top: -70px;
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: small;
        padding:6px;
    }
    
    



form{
    
    
    height:500px;
    width:30%;
    background: linear-gradient(  black, transparent);
    display: flex;
    background: linear-gradient(to top,transparent);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
    padding-top:60px;
    backdrop-filter: blur(4px);
    border-radius:10px;
    color:#ffff;
    border: 1px black solid;
    input{
        height:50px;
        color:#b6b3b3;
        width:65%;
        font-size: 1.0rem;
        display:flex;
        
    }
    .s_in{
        height:45px;
        border:none;
        width:68%;
        background-color: rgb(214, 9, 9);
        color:#ffff;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding: 10px;
        /* margin-left:-5px;
        margin-top:10px; */
    }
    .s_in:hover{
        background-color: rgb(169, 0, 9);
        display: flex;
        width:77%;
        color: #b6b3b3;

    }
    .or{
        padding:15px;
    }
    .s_code{
        height:40px;
        border:none;
        width:68%;
        background-color: rgb(81, 79, 79);
        color:whitesmoke;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding: -15px;
        backdrop-filter: blur(10px);
        font-weight: 600;
        
    }
    .s_code:hover{
        height:50px;
        border:none;
        width:68%;
        backdrop-filter: blur(10px);
    }
    input[type="text"],input[type="password"]{
        height:20px;
        width:60%;
        display:flex;
        padding:15px;
        margin:9px;
        backdrop-filter: blur(2px);
        background:transparent;
        border:1px rgb(120,115,115) solid;
        border-radius: 5px;
        
    }
    ::placeholder{
        color:#b6b3b3;
        font-size: 1rem;
        text-align:left;
        font-weight: 500;
    }
    input:focus{
        outline:none;
    }
    .check{
        
        width: 21%;
        display:inline-flex;
        flex-direction: row;
        background-color: none;
        margin-left:-200px;
        gap:8px;
        
        
    }
    .check input[type="checkbox"]{
        margin:0;
        cursor: pointer;
    }
    .check label{
        font-size: 1.5 rem;
        color:#ffff;
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .forget{
        display: flex;
        align-items: center;
        justify-content: center;
        padding:10px;
        color:#ffff;
        text-decoration: none;
        
        
    }
    .rem{
        display: flex;
        flex-direction: row;
        align-items: left;
        background-color: none;
        height:50px;
        
    }
    .below_line{
        color:aliceblue;
        font-size: medium;
        font-weight: 400;
        text-decoration: none;
        margin-left:-110px;
        padding:1px; 
    }
    

    


}
}

